<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="nl.saxion.playground.template">

    <application
        android:name=".lumberjack_simulator.local_lib.GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/lumberjack_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/lumberjack_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity android:name=".lumberjack_simulator.activity.SettingActivity"/>
        <activity android:name=".lumberjack_simulator.activity.Activity" />
        <activity android:name=".lumberjack_simulator.activity.IntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>